* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 100%;
  height: 100vh;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page .modal {
  width: 840px;
  height: 680px;
  background-color: white;
  border-radius: 15px 15px 250px 15px;
}

.page .modal .box-input {
  display: flex;
  padding: 30px 40px;
  gap: 20px;
}
