// Cores
$fundo: rgb(240, 240, 240);
$roxo: rgb(122, 68, 255);
$cinza: rgb(139, 139, 139);
$vermelho: rgb(238, 102, 120);

// Padronização
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
